<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonFastCGI" path="*" verb="*" modules="FastCgiModule"
                 scriptProcessor="C:\Users\SB\AppData\Local\Programs\Python\Python313\python.exe|C:\Users\SB\AppData\Local\Programs\Python\Python313\Lib\site-packages\wfastcgi.py"
                 resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="web.config"/>
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
